body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #efefef;
    background: #1c1c1c;
}

#game {
    background-color: #1c1c1c;
    margin-top: 10rem;
    border: 2px solid #ccc;
}